<div class="tab-pane fade show active" id="view-cctv" role="tabpanel" aria-labelledby="home-tab">
  <!-- DataTales Example -->
  <div class="card shadow mb-4 mt-2">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-responsive mtable" width="100%" cellspacing="0">
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  